@charset'utf-8';
h1.title{
  margin-top:70px;
  margin-left:100px;
}
p.hiduke{
  position:absolute;
  margin-top:20px;
  margin-left:110px;
  font-weight:bold;
}
h3.honbun{
margin-top:30px;
margin-left:100px;
font-weight:bold;
}
p.sub{
margin-left:110px;
font-weight:bold;
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
h1.title{
  font-size:30px;
  margin-top:0px;
  margin-left:20px;
}
p.hiduke{
margin-top:30px;
margin-left:20px;
}
h3.honbun{
font-size:20px;
margin-left:20px;
}
p.sub{
margin-top:30px;
margin-left:0px;
font-weight:bold;
}

}

