@charset"utf-8";
/*配置CSS*/
h6.news{
position:relative;
margin-left:530px;
}
h2.kokuti{
margin-left:260px;
}
p.day{
position:absolute;
margin-top:5px;
}
@media only screen and (min-width: 320px) and (max-width: 768px) {

h6.news{
margin-top:-500px;
margin-left:100px;
}
h2.kokuti{
margin-top:10px;
margin-left:0px;
}
p.day{
margin-top:-10px;
}
}
