@charset"utf-8";
/*デザインCSS*/
/*お知らせタグ*/
a{
    z-index: 99;
   color:#000000;
}
h6.news{
color:#1469e0;
font-weight:bold;
font-size:40px;
font-family: 游明朝,"Yu Mincho",YuMincho,"Hiragino Mincho ProN","Hiragino Mincho Pro",HGS明朝E,メイリオ,Meiryo,serif,"Sawarabi Mincho";
}
h2.kokuti{
font-size:42px;
}
p.day{
font-size:30px;
font-weight:bold;
}
/*セール枠*/
div.flame17{
padding: 1em;
margin: 2em auto;
width:80%;
color: #000000;
background: #27e8f2;
border-bottom: solid 5px #ffed2b;
border-radius: 10px; 
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
/*お知らせタグ*/
h2.kokuti{
font-size:22px;
}
p.day{
font-size:10px;
}
}          

