@charset"utf-8";
/*デザインCSS*/
/*お知らせタグ*/
a{
   color:#000000;
}

h2.midashi{
    font-size:30px;
    position: relative;
    display: inline-block;
    padding: 0 55px;
    color:blue;
    font-family: 游明朝,"Yu Mincho",YuMincho,"Hiragino Mincho ProN","Hiragino Mincho Pro",HGS明朝E,メイリオ,Meiryo,serif,"Sawarabi Mincho";

}

h2.midashi:before,
h2.midashi:after {
    content: '';
    position: absolute;
    top: 50%;
    display: inline-block;
    width: 50px;
    height: 4px;
    background-color:blue;
}

h2.midashi:before {
    left: 0;
}

h2.midashi:after {
    right: 0;
}
h6.news{
color:#1469e0;
font-weight:bold;
font-size:40px;
font-family: 游明朝,"Yu Mincho",YuMincho,"Hiragino Mincho ProN","Hiragino Mincho Pro",HGS明朝E,メイリオ,Meiryo,serif,"Sawarabi Mincho";
}
h2.kokuti{
position:relative;
font-size:42px;
}
p.day{
font-size:30px;
font-weight:bold;
color:black;
}
/*セール枠*/

div.flame17{
padding: 1em;
margin: 2em auto;
width:80%;
color: #000000;
background: #27e8f2;
border-bottom: solid 5px #ffed2b;
border-radius: 10px; 
}
img.img2{
width:800px;
height:500px;
}

p.setumei{
font-size:30px;
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
/*お知らせタグ*/
a.blog{
   color:#000000;
}

h2.kokuti{
font-size:25px;
}

p.day{
font-size:10px;
}
img.img2{
height:300px;
width:305px;
}
h2.midashi{
font-size:25px;
}
p.setumei{
font-size:20px;
}

}          

